body {
    background: url("/img/bg.jpg");
    background-position: center;
    background-repeat: repeat;
}
.loginButtons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.glyphicon-search {
  color: #000;
}
.info {
  background: none !important;
}
.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
  background: none;
}
