<template name="admin">
{{#if isAdminUser}}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/search">Search by IGN</a></li>
            {{#if isSuperAdmin}}<li><a class="clearLogs" style="cursor: pointer;" >Clear Logs</a></li>{{/if}}
        </ul>
    </div>
  <div class="container">
    <div class="col-md-8">
        <h4>Pending Network Apps</h4>
        <div class="list-group">
            {{#each AllPendingNetworkApps }}
            <a href="/app/network/{{_id}}" class="list-group-item"><span class="label label-info">{{ status }}</span>&nbsp;{{ ign }} Application</a>
            {{/each}}
        </div>
        <hr />
        <h4>Crafting Magic Pending Applications</h4>
        <div class="list-group">
            {{#each AllPendingCMApps }}
            <a href="/app/cm/{{_id}}" class="list-group-item"><span class="label label-info">{{ status }}</span>&nbsp;{{ ign }} Application</a>
            {{/each}}
        </div>
        <hr />
        <h4>Magic Revolution Pending Applications</h4>
        <div class="list-group">
            {{#each AllPendingMRApps }}
            <a href="/app/mr/{{_id}}" class="list-group-item"><span class="label label-info">{{ status }}</span>&nbsp;{{ ign }} Application</a>
            {{/each}}
        </div>
        <hr />
        <h4>Pending Medival Times Applications</h4>
        <div class="list-group">
            {{#each AllPendingMTApps }}
            <a href="/app/mt/{{_id}}" class="list-group-item"><span class="label label-info">{{ status }}</span>&nbsp;{{ ign }} Application</a>
            {{/each}}
        </div>
    </div>
      <div class="col-md-4">
          <h3>Logs</h3>
          <ul class="list-group">
              {{#each logs}}
              <li class="list-group-item">{{text}}</li>
              {{/each}}
          </ul>
      </div>
</div>
{{else}}
    <div class="container">
        <h4>Whoops! You stumbled somewhere you don't belong.</h4>
        <p>If you think this is a problem let Fonix or i3itCoin know :)</p>
    </div>
{{/if}}
</template>

<template name="app_detail">
  {{#if isAdminUser}}
    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Network Application&nbsp;|&nbsp;{{status}}</div>
                <div class="panel-body">
                    <h5>IGN</h5>
                    <p>{{ ign }}</p>
                    <br />
                    <h5>Discord Name</h5>
                    <p>{{ discordName }}</p>
                    <br />
                    <h5>How long have you been a member at Digital Hazards?</h5>
                    <p>{{ memberlength }}</p>
                    <br />
                    <h5>What languages do you know?</h5>
                    <p>{{ languageKnown }}</p>
                    <br />
                    <h5>Why do you want to join the Network staff?</h5>
                    <p>{{ whyyou }}</p>
                </div>
                <div class="panel-footer">Submitted On:&nbsp;{{createdAt}}<span class="pull-right"><button class="btn btn-sm accept btn-success" style="margin-top: -5px;">Accept&nbsp;<i class="fa fa-check" aria-hidden="true"></i></button>&nbsp;<button class="btn btn-sm btn-danger reject" style="margin-top: -5px;">Reject&nbsp;<i class="fa fa-ban" aria-hidden="true"></i></button></span></div>
            </div>
        </div>
    </div>
{{else}}
<div class="container">
    <h4>Whoops! You stumbled somewhere you don't belong.</h4>
    <p>If you think this is a problem let Fonix or i3itCoin know :)</p>
</div>
{{/if}}
</template>

<template name="cm_app_detail">
  {{#if isAdminUser}}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Crafting Magic Application&nbsp;|&nbsp;{{status}}</div>
                    <div class="panel-body">
                        <h5>Minecraft IGN (In-Game Name)</h5>
                        <p>{{ ign }}</p>
                        <br />
                        <h5>What is your Discord Name</h5>
                        <p>{{ discordName }}</p>
                        <br />
                        <h5>How old are you?</h5>
                        <p>{{ age }}</p>
                        <br />
                        <h5>How long have you been playing?</h5>
                        <p>{{ memberlength }}</p>
                        <br />
                        <h5>How often are you online?</h5>
                        <p>{{ playtime }}</p>
                        <br />
                        <h5>Which server do you play on?</h5>
                        <p>{{ serverNumber }}</p>
                        <br />
                        <h5>What mods do you 'major' in?</h5>
                        <p>{{ modMajors }}</p>
                        <br />
                        <h5>You see someone being racist in chat, how do you handle it?</h5>
                        <p>{{ scenarioRacist }}</p>
                        <br />
                        <h5>Someone is asking for creatively spawned in items, how do you handle it?</h5>
                        <p>{{ scenarioSpawn }}</p>
                        <br />
                        <h5>What servers have you staffed before?</h5>
                        <p>{{ previousStaff }}</p>
                        <br />
                        <h5>Why do you want to join the Network staff?</h5>
                        <p>{{ whyyou }}</p>
                    </div>
                    <div class="panel-footer">Submitted On:&nbsp;{{createdAt}}<span class="pull-right"><button class="btn btn-sm accept btn-success" style="margin-top: -5px;">Accept&nbsp;<i class="fa fa-check" aria-hidden="true"></i></button>&nbsp;<button class="btn btn-sm btn-danger reject" style="margin-top: -5px;">Reject&nbsp;<i class="fa fa-ban" aria-hidden="true"></i></button></span></div>
                </div>
            </div>
        </div>
        </div>
        {{ else }}
<div class="container">
    <h4>Whoops! You stumbled somewhere you don't belong.</h4>
    <p>If you think this is a problem let Fonix or i3itCoin know :)</p>
</div>
        {{/if}}
</template>
<template name="mt_app_detail">
  {{#if isAdminUser}}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Medieval Times Application&nbsp;|&nbsp;{{status}}</div>
                    <div class="panel-body">
                        <h5>Minecraft IGN (In-Game Name)</h5>
                        <p>{{ ign }}</p>
                        <br />
                        <h5>What is your Discord Name</h5>
                        <p>{{ discordName }}</p>
                        <br />
                        <h5>How old are you?</h5>
                        <p>{{ age }}</p>>
                        <br />
                        <h5>How long have you been playing?</h5>
                        <p>{{ memberlength }}</p>
                        <br />
                        <h5>How often are you online?</h5>
                        <p>{{ playtime }}</p>
                        <br />
                        <h5>What servers have you staffed before?</h5>
                        <p>{{ previousStaff }}</p>
                        <br />
                        <h5>Why should we allow you to be a staff member?</h5>
                        <p>{{ whyyou }}</p>
                    </div>
                    <div class="panel-footer">Submitted On:&nbsp;{{createdAt}}<span class="pull-right"><button class="btn btn-sm accept btn-success" style="margin-top: -5px;">Accept&nbsp;<i class="fa fa-check" aria-hidden="true"></i></button>&nbsp;<button class="btn btn-sm btn-danger reject" style="margin-top: -5px;">Reject&nbsp;<i class="fa fa-ban" aria-hidden="true"></i></button></span></div>
                </div>
            </div>
        </div>
        </div>
{{else}}
<div class="container">
    <h4>Whoops! You stumbled somewhere you don't belong.</h4>
    <p>If you think this is a problem let Fonix or i3itCoin know :)</p>
</div>
        {{/if}}
</template>

<template name="mr_app_detail">
  {{#if isAdminUser}}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Magic Revolution Application&nbsp;|&nbsp;{{status}}</div>
                    <div class="panel-body">
                        <h5>Minecraft IGN (In-Game Name)</h5>
                        <p>{{ ign }}</p>
                        <br />
                        <h5>What is your Discord Name</h5>
                        <p>{{ discordName }}</p>
                        <br />
                        <h5>How old are you?</h5>
                        <p>{{ age }}</p>>
                        <br />
                        <h5>How long have you been playing?</h5>
                        <p>{{ memberlength }}</p>
                        <br />
                        <h5>How often are you online?</h5>
                        <p>{{ playtime }}</p>
                        <br />
                        <h5>What servers have you staffed before?</h5>
                        <p>{{ previousStaff }}</p>
                        <br />
                        <h5>Why should we allow you to be a staff member?</h5>
                        <p>{{ whyyou }}</p>
                    </div>
                    <div class="panel-footer">Submitted On:&nbsp;{{createdAt}}<span class="pull-right"><button class="btn btn-sm accept btn-success" style="margin-top: -5px;">Accept&nbsp;<i class="fa fa-check" aria-hidden="true"></i></button>&nbsp;<button class="btn btn-sm btn-danger reject" style="margin-top: -5px;">Reject&nbsp;<i class="fa fa-ban" aria-hidden="true"></i></button></span></div>
                </div>
            </div>
        </div>
    </div>
{{else}}
<div class="container">
    <h4>Whoops! You stumbled somewhere you don't belong.</h4>
    <p>If you think this is a problem let Fonix or i3itCoin know :)</p>
</div>
  {{/if}}
</template>


<template name="search">
  Not ready for you yet, but soon!
    {{ _id}}
    {{ age }}
</template>
