<template name="adminui">
    {{#if isAdminUser}}
        {{> accountsAdmin}}
        {{/if}}
</template>
<template name="admin">
  {{#if isAdminUser}}
          <div class="container">
            <div class="jumbotron">
                <h5>Network Applications</h5>
                <div class="list-group">
                {{#each AllNetworkApps}}
                <a href="/app/network/{{_id}}" class="list-group-item"><span class="label label-warning">{{ status }}</span>&nbsp;{{ ign }} Application</a>
                {{/each}}
                </div>
            </div>
            <div class="jumbotron">
                <h5>Crafting Magic Applications</h5>
                <div class="list-group">
                {{#each AllCMApps}}
                <a href="/app/cm/{{_id}}" class="list-group-item"><span class="label label-warning">{{ status }}</span>&nbsp;{{ ign }} Application</a>
                {{/each}}
                </div>
            </div>
            <div class="jumbotron">
                <h5>Medieval Times Applications</h5>
                <div class="list-group">
                {{#each AllMTApps}}
                <a href="/app/mt/{{_id}}" class="list-group-item"><span class="label label-warning">{{ status }}</span>&nbsp;{{ ign }} Application</a>
                {{/each}}
                </div>
            </div>
            <div class="jumbotron">
                <h5>Magic Revolution Applications</h5>
                <div class="list-group">
                {{#each AllMRApps}}
                <a href="/app/mr/{{_id}}" class="list-group-item"><span class="label label-warning">{{ status }}</span>&nbsp;{{ ign }} Application</a>
                {{/each}}
                </div>
            </div>
          </div>
  {{/if}}
</template>

<template name="app_detail">
  {{#if isAdminUser}}
  <div class="container">
      <div class="panel panel-primary">
          <div class="panel-heading">Network Application&nbsp;<span class="label label-info">{{ status }}</span></div>
          <div class="panel-body">
              <div class="well well-sm">
                  <h5>IGN</h5>
                  <p>{{ ign }}</p>
              </div>
              <div class="well well-sm">
                  <h5>Discord Name</h5>
                  <p>{{ discordName }}</p>
              </div>
              <div class="well well-sm">
                  <h5>How long have you been a member at Digital Hazards?</h5>
                  <p>{{ memberlength }}</p>
              </div>
              <div class="well well-sm">
                  <h5>What languages do you know?</h5>
                  <p>{{ languageKnown }}</p>
              </div>
              <div class="well well-sm">
                  <h5>Why do you want to join the Network staff?</h5>
                  <p>{{ whyyou }}</p>
              </div>

          </div>
          <div class="panel-footer">
              Submitted on: {{createdAt}}<button class="btn btn-danger btn-sm reject" style="float: right;">Reject</button><button class="btn btn-success btn-sm accept" style="float: right;">Accept</button>
          </div>
      </div>
  </div>
  {{ else }}
  <h3>403</h3>
  {{/if}}
</template>

<template name="cm_app_detail">
  {{#if isAdminUser}}
  <div class="container">
      <div class="panel panel-primary">
          <div class="panel-heading">Crafting Magic Application&nbsp;<span class="label label-info">{{ status }}</span></div>
          <div class="panel-body">
              <div class="well well-sm">
                  <h5>Minecraft IGN (In-Game Name)</h5>
                  <p>{{ ign }}</p>
              </div>
              <div class="well well-sm">
                  <h5>What is your Discord Name</h5>
                  <p>{{ discordName }}</p>
              </div>
              <div class="well well-sm">
                  <h5>How old are you?</h5>
                  <p>{{ age }}</p>
              </div>
              <div class="well well-sm">
                  <h5>How long have you been playing?</h5>
                  <p>{{ memberlength }}</p>
              </div>
              <div class="well well-sm">
                  <h5>How often are you online?</h5>
                  <p>{{ playtime }}</p>
              </div>
              <div class="well well-sm">
                  <h5>Which server do you play on?</h5>
                  <p>{{ serverNumber }}</p>
              </div>
              <div class="well well-sm">
                  <h5>What mods do you 'major' in?</h5>
                  <p>{{ modMajors }}</p>
              </div>
              <div class="well well-sm">
                  <h5>You see someone being racist in chat, how do you handle it?</h5>
                  <p>{{ scenarioRacist }}</p>
              </div>
              <div class="well well-sm">
                  <h5>Someone is asking for creatively spawned in items, how do you handle it?</h5>
                  <p>{{ scenarioSpawn }}</p>
              </div>
              <div class="well well-sm">
                  <h5>What servers have you staffed before?</h5>
                  <p>{{ previousStaff }}</p>
              </div>
              <div class="well well-sm">
                  <h5>Why should we allow you to be a staff member?</h5>
                  <p>{{ whyyou }}</p>
              </div>
          </div>
          <div class="panel-footer">
              Submitted on: {{createdAt}}<button class="btn btn-danger btn-sm reject" style="float: right;">Reject</button><button class="btn btn-success btn-sm accept" style="float: right;">Accept</button>
          </div>
      </div>
  </div>
  {{ else }}
  <h3>403</h3>
  {{/if}}
</template>
<template name="mt_app_detail">
  {{#if isAdminUser}}
  <div class="container">
      <div class="panel panel-primary">
          <div class="panel-heading">Medieval Times Application&nbsp;<span class="label label-info">{{ status }}</span></div>
          <div class="panel-body">
              <div class="well well-sm">
                  <h5>Minecraft IGN (In-Game Name)</h5>
                  <p>{{ ign }}</p>
              </div>
              <div class="well well-sm">
                  <h5>What is your Discord Name</h5>
                  <p>{{ discordName }}</p>
              </div>
              <div class="well well-sm">
                  <h5>How old are you?</h5>
                  <p>{{ age }}</p>
              </div>
              <div class="well well-sm">
                  <h5>How long have you been playing?</h5>
                  <p>{{ memberlength }}</p>
              </div>
              <div class="well well-sm">
                  <h5>How often are you online?</h5>
                  <p>{{ playtime }}</p>
              </div>
              <div class="well well-sm">
                  <h5>What servers have you staffed before?</h5>
                  <p>{{ previousStaff }}</p>
              </div>
              <div class="well well-sm">
                  <h5>Why should we allow you to be a staff member?</h5>
                  <p>{{ whyyou }}</p>
              </div>
          </div>
          <div class="panel-footer">
              Submitted on: {{createdAt}}<button class="btn btn-danger btn-sm reject" style="float: right;">Reject</button><button class="btn btn-success btn-sm accept" style="float: right;">Accept</button>
          </div>
      </div>
  </div>
  {{ else }}
  <h3>403</h3>
  {{/if}}
</template>

<template name="mr_app_detail">
  {{#if isAdminUser}}
  <div class="container">
      <div class="panel panel-primary">
          <div class="panel-heading">Magic Revolution Application&nbsp;<span class="label label-info">{{ status }}</span></div>
          <div class="panel-body">
              <div class="well well-sm">
                  <h5>Minecraft IGN (In-Game Name)</h5>
                  <p>{{ ign }}</p>
              </div>
              <div class="well well-sm">
                  <h5>What is your Discord Name</h5>
                  <p>{{ discordName }}</p>
              </div>
              <div class="well well-sm">
                  <h5>How old are you?</h5>
                  <p>{{ age }}</p>
              </div>
              <div class="well well-sm">
                  <h5>How long have you been playing?</h5>
                  <p>{{ memberlength }}</p>
              </div>
              <div class="well well-sm">
                  <h5>How often are you online?</h5>
                  <p>{{ playtime }}</p>
              </div>
              <div class="well well-sm">
                  <h5>What servers have you staffed before?</h5>
                  <p>{{ previousStaff }}</p>
              </div>
              <div class="well well-sm">
                  <h5>Why should we allow you to be a staff member?</h5>
                  <p>{{ whyyou }}</p>
              </div>
          </div>
          <div class="panel-footer">
              Submitted on: {{createdAt}}<button class="btn btn-danger btn-sm reject" style="float: right;">Reject</button><button class="btn btn-success btn-sm accept" style="float: right;">Accept</button>
          </div>
      </div>
  </div>
  {{ else }}
  <h3>403</h3>
  {{/if}}
</template>
