<template name="register">
    <form class="regForm">
        <input type="email" name="registerEmail">
        <input type="password" name="registerPassword">
        <input type="submit" value="Register">
    </form>
</template>
<template name="login">
    <div style="width: 50%; margin-left: auto;margin-right: auto;">
      <form class="loginForm">
        <div class="form-group">
          <input class="form-control" placeholder="user@domain.com" type="email" name="loginEmail">
          <input class="form-control" placeholder="abc1234" type="password" name="loginPassword">
          <br/>
          <button style="width: 100%" class="btn btn-default" type="submit" name="LoginSubmit" value="Login">Login</button>
        </div>
      </form>
    </div>
</template>
