<template name="register">
  {{> nav}}
  <div class="container">
      <div class="jumbotron">
  <div style="width: 50%; margin-left: auto;margin-right: auto;">
    <form class="regForm">
      <div class="form-group">
        <input class="form-control" placeholder="Minecraft Name (IGN)" type="text" name="registerIGN">
        <input class="form-control" placeholder="Email" type="email" name="registerEmail">
        <input class="form-control" placeholder="Password" type="password" name="registerPassword">
        <br/>
        <button style="width: 100%" class="btn btn-default" type="submit" name="RegisterSubmit" value="Register">Register Account</button>
      </div>
    </form>
  </div>
</div>
</div>
</template>
<template name="login">
    <div style="width: 50%; margin-left: auto;margin-right: auto;">
      <form class="loginForm">
        <div class="form-group">
          <input class="form-control" placeholder="user@domain.com" type="email" name="loginEmail">
          <input class="form-control" placeholder="abc1234" type="password" name="loginPassword">
          <br/>
          <button style="width: 100%" class="btn btn-default" type="submit" name="LoginSubmit" value="Login">Login</button>
        </div>
      </form>
    </div>
</template>
