<template name="home">
        <div class="container">
            <div class="jumbotron">
                <h3>Welcome to DH Staff Application Center</h3>
                <p>Reminder please visit our staff application guidelines and read them carefully before applying for a position within the network. Thank you for you interest in the network and we hope to work with you soon!</p>
                <p>Please do not inquire about the status of your application, doing so will result in an immediate rejection.</p>
            </div>
            <div class="jumbotron">
                <h3>Before you apply!</h3>
                <p>Before you apply for any position within the network, please ensure you read and agree to the <a href="https://wiki.digitalhazards.net/books/network-policy" target="_blank" title="Network Policy">Network Policy</a>.</p>
            </div>
            <div class="alert alert-warning" style="opacity: 0.7;">
                <p>Note** This application is in a <strong>beta</strong> form. Please report any and all bugs to i3itCoin on discord.</p>
            </div>
        </div>
</template>
