<template name="home">
        <div class="container">
            <div class="jumbotron">
                <h3>Welcome to DH Staff Application Center</h3>
                <p>Reminder please visit our staff application guidelines and read them carefully before applying for a position within the network. Thank you for you interest in the network and we hope to work with you soon!</p>
                <p>Please do not inquire about the status of your application, doing so will result in an immediate rejection.</p>
            </div>
            <div class="jumbotron">
                <h3>Open Positions:</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>
        </div>
</template>
