<template name="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Welcome to DH Staff Application Center</h3>
                    <p>Reminder please visit our staff application guidelines and read them carefully before applying for a position within the network. Thank you for you interest in the network and we hope to work with you soon!</p>
                    <p>Please do not inquire about the status of your application, doing so will result in an immediate rejection.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Before you apply</h4>
                    <p>Before you apply for any position within the network, please ensure you read and agree to the <a href="https://wiki.digitalhazards.net/books/network-policy" target="_blank" title="Network Policy">Network Policy</a>.</p>
                    <p>Be sure you have no prior infractions aswell.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <h4>Need Help?</h4>
                <p>Discord here....</p>
            </div>
        </div>
    </div>

</template>
