
<template name="me">
    <div class="container">
    {{#if currentUser}}
      <h2>Welcome, {{ign}}</h2>
        <p>Here is the list of your applications. Once the status changes from "Pending" to "Accepted" you should contact a staff member of the server your applied for, they will provide additional details.</p>
        <hr />
        <h4>Recent Applications</h4>
        {{> myapps}}
    {{else}}
          {{> login}}
    {{/if}}
      </div>
</template>

<template name="secretAdmin">
  <div class="container">
      <div class="jumbotron">
  {{#if currentUser}}
    {{>adminui}}
  {{else}}
        {{> login}}
  {{/if}}

      </div>
    </div>
</template>

<template name="myapps">
    {{#each NetworkApps }}
    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Network Application&nbsp;|&nbsp;{{status}}</div>
                <div class="panel-body">
                    <h5>IGN</h5>
                    <p>{{ ign }}</p>
                    <br />
                    <h5>Discord Name</h5>
                    <p>{{ discordName }}</p>
                    <br />
                    <h5>How long have you been a member at Digital Hazards?</h5>
                    <p>{{ memberlength }}</p>
                    <br />
                    <h5>What languages do you know?</h5>
                    <p>{{ languageKnown }}</p>
                    <br />
                    <h5>Why do you want to join the Network staff?</h5>
                    <p>{{ whyyou }}</p>
                </div>
                <div class="panel-footer">Submitted On:&nbsp;{{createdAt}}</div>
            </div>
        </div>
    </div>
    {{/each}}
    {{#each CMApps }}
        <div class="container">
            <div class="row">
           <div class="col s12 m12">
             <div class="card blue-grey darken-1">
               <div class="card-content white-text">
                 <span class="card-title">Crafting Magic Application&nbsp;<div class="chip">{{ status }}</div></span>
                     <h5>Minecraft IGN (In-Game Name)</h5>
                     <p>{{ ign }}</p>
                     <br/>
                     <h5>What is your Discord Name</h5>
                     <p>{{ discordName }}</p>
                     <br/>
                     <h5>How old are you?</h5>
                     <p>{{ age }}</p>
                     <br/>
                     <h5>How long have you been playing?</h5>
                     <p>{{ memberlength }}</p>
                     <br/>
                     <h5>How often are you online?</h5>
                     <p>{{ playtime }}</p>
                     <br/>
                     <h5>Which server do you play on?</h5>
                     <p>{{ serverNumber }}</p>
                     <br/>
                     <h5>What mods do you 'major' in?</h5>
                     <p>{{ modMajors }}</p>
                     <br/>
                     <h5>You see someone being racist in chat, how do you handle it?</h5>
                     <p>{{ scenarioRacist }}</p>
                     <br/>
                     <h5>Someone is asking for creatively spawned in items, how do you handle it?</h5>
                     <p>{{ scenarioSpawn }}</p>
                     <br/>
                     <h5>What servers have you staffed before?</h5>
                     <p>{{ previousStaff }}</p>
                     <br/>
                     <h5>Why do you want to join the Network staff?</h5>
                     <p>{{ whyyou }}</p>
               </div>
               <div class="card-action" >
                 Submitted On:&nbsp;{{createdAt}}
               </div>
             </div>
           </div>
         </div>
        </div>
    {{/each}}
    {{#each MTApps }}
        <div class="container">
            <div class="row">
           <div class="col s12 m12">
             <div class="card blue-grey darken-1">
               <div class="card-content white-text">
                 <span class="card-title">Medieval Times Application&nbsp;<div class="chip">{{ status }}</div></span>
                     <h5>Minecraft IGN (In-Game Name)</h5>
                     <p>{{ ign }}</p>
                     <br/>
                     <h5>What is your Discord Name</h5>
                     <p>{{ discordName }}</p>
                     <br/>
                     <h5>How old are you?</h5>
                     <p>{{ age }}</p>>
                     <br/>
                     <h5>How long have you been playing?</h5>
                     <p>{{ memberlength }}</p>
                     <br/>
                     <h5>How often are you online?</h5>
                     <p>{{ playtime }}</p>
                     <br/>
                     <h5>What servers have you staffed before?</h5>
                     <p>{{ previousStaff }}</p>
                     <br/>
                     <h5>Why should we allow you to be a staff member?</h5>
                     <p>{{ whyyou }}</p>
               </div>
               <div class="card-action" >
                 Submitted On:&nbsp;{{createdAt}}
               </div>
             </div>
           </div>
         </div>
        </div>
    {{/each}}
    {{#each MRApps }}
    <div class="container">
        <div class="row">
       <div class="col s12 m12">
         <div class="card blue-grey darken-1">
           <div class="card-content white-text">
             <span class="card-title">Magic Revolution Application&nbsp;<div class="chip">{{ status }}</div></span>
                 <h5>Minecraft IGN (In-Game Name)</h5>
                 <p>{{ ign }}</p>
                 <br/>
                 <h5>What is your Discord Name</h5>
                 <p>{{ discordName }}</p>
                 <br/>
                 <h5>How old are you?</h5>
                 <p>{{ age }}</p>>
                 <br/>
                 <h5>How long have you been playing?</h5>
                 <p>{{ memberlength }}</p>
                 <br/>
                 <h5>How often are you online?</h5>
                 <p>{{ playtime }}</p>
                 <br/>
                 <h5>What servers have you staffed before?</h5>
                 <p>{{ previousStaff }}</p>
                 <br/>
                 <h5>Why should we allow you to be a staff member?</h5>
                 <p>{{ whyyou }}</p>
           </div>
           <div class="card-action" >
             Submitted On:&nbsp;{{createdAt}}
           </div>
         </div>
       </div>
     </div>
    </div>
    {{/each}}
</template>
