
<template name="me">
    {{> nav}}
    <div class="container">
        <div class="jumbotron">
    {{#if currentUser}}
      IGN: {{ign}}
    {{else}}
          {{> login}}
    {{/if}}

        </div>
      </div>
</template>

<template name="myapps">
    {{>nav}}
    {{#each NetworkApps }}
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">Network Application</div>
                <div class="panel-body">
                    <div class="well well-sm">
                        <h5>IGN</h5>
                        <p>{{ ign }}</p>
                    </div>
                    <div class="well well-sm">
                        <h5>Discord Name</h5>
                        <p>{{ discordName }}</p>
                    </div>
                    <div class="well well-sm">
                        <h5>How long have you been a member at Digital Hazards?</h5>
                        <p>{{ memberlength }}</p>
                    </div>
                    <div class="well well-sm">
                        <h5>What languages do you know?</h5>
                        <p>{{ languageKnown }}</p>
                    </div>
                    <div class="well well-sm">
                        <h5>Why do you want to join the Network staff?</h5>
                        <p>{{ whyyou }}</p>
                    </div>

                </div>
                <div class="panel-footer">
                    Submitted on: {{createdAt}}
                </div>
            </div>
        </div>
    {{/each}}
</template>