<template name="nav">
<div id='cssmenu' class='align-center container'>
<ul>
   <li><a href='/'><span>HOME</span></a></li>
    <li><a href='/positions'><span>POSITIONS</span></a></li>
   <li class='has-sub'><a href='#'><span>APPLY</span></a>
      <ul>
         <li><a href='#'><span>MEDEVIAL TIMES</span></a></li>
          <li><a href='#'><span>CRAFTING MAGIC</span></a></li>
          <li><a href='#'><span>MAGIC REVOLUTION</span></a></li>
          <li><a href='/networkapplications'><span>NETWORK</span></a></li>
      </ul>
   </li>
    {{#if currentUser}}<li class="has-sub"><a href='#'><span style="text-transform: uppercase;">{{>ign}}</span></a>
      <ul>
         <li><a href='#'><span>My Applications</span></a></li>
          <li><a href='#'><span>Settings</span></a></li>
          <li><a href='#' class="logout"><span style="color: red;" >Logout</span></a></li>
      </ul>
    </li>
    {{else}}
    <li><a href="/login"><span>Login</span></a></li>

    {{/if}}
</ul>
</div>
    <br/><br/>
</template>
