<template name="NetworkApplication">
    {{> nav}}
    <div class="container">
        <div class="jumbotron">
            <div style="padding: 0% 20%;">
                <h4>Apply for ____</h4>
                <form method="post">
                    <div class="form-group">
                        <h5>Minecraft IGN</h5>
                        <input type="text" class="form-control jfocus" placeholder="Minecraft IGN" />
                        <h5>How would you die?</h5>
                        <textarea class="form-control" placeholder="How woudl you die?"></textarea>
                    </div>
                    <button class="btn btn-default" style="width: 100%" type="submit">Apply for Position</button>
                </form>
                <br/>
            </div>
        </div>
    </div>
</template>