<template name="positions">
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 style="color: white;">Network Developer</h3></div>
        <div class="panel-body">
            <p>The role of a Network Developer is to help produce, test, and implement new systems and features into the network. This includes everything from web applications to server management. Reccomended languages: Java, HTML, CSS, Javascript, UNIX.</p>
        </div>
        <div class="panel-footer" style="height: 60px;">
          <a href="/apply/network" class="btn btn-primary pull-right">Apply Today!</a>
        </div>
  </div>
  <div class="panel panel-primary">
      <div class="panel-heading"><h3 style="color: white;">Crafting Magic Moderator</h3></div>
      <div class="panel-body">
          <p>Join the CM team today! As a moderator you will be learing the rules and how we operate! Some of your jobs may include:</p>
          <ul>
            <li>Moderating the Chat</li>
            <li>Helping new players</li>
          </ul>
      </div>
      <div class="panel-footer" style="height: 60px;">
        <a href="/apply/cm" class="btn btn-primary pull-right">Apply Today!</a>
      </div>
  </div>
  <div class="panel panel-primary">
      <div class="panel-heading"><h3 style="color: white;">Medieval Times Staff</h3></div>
      <div class="panel-body">
          <p>If you are intrested in becoming a Medieval Times staff member please submit this basic form. All applicants are required to do an interview with a higher ranking Medieval Times staff member.</p>
      </div>
      <div class="panel-footer" style="height: 60px;">
        <a href="/apply/mt" class="btn btn-primary pull-right">Apply Today!</a>
      </div>
  </div>
</div>

</template>
