<template name="positions">
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Network Developer</span>
          <p>The role of a Network Developer is to help produce, test, and implement new systems and features into the network. This includes everything from web applications to server management. Reccomended languages: Java, HTML, CSS, Javascript, UNIX.</p>
        </div>
        <div class="card-action">
          <a href="/apply/network" class="btn light-blue darken-3">Apply Today!</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Crafting Magic Staff</span>
          <p>Join the CM team today! As a moderator you will be learing the rules and how we operate! Some of your jobs may include:</p>
          <ul>
            <li>Moderating the Chat</li>
            <li>Helping new players</li>
          </ul>
        </div>
        <div class="card-action">
            <a href="/apply/cm" class="btn light-blue darken-3">Apply Today!</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Medieval Times</span>
          <p>If you are intrested in becoming a Medieval Times staff member please submit this basic form. All applicants are required to do an interview with a higher ranking Medieval Times staff member.</p>
        </div>
        <div class="card-action">
          <a href="/apply/mt" class="btn light-blue darken-3">Apply Today!</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Magic Revolution</span>
          <p>If you are intrested in becoming a Magic Revolution staff member please submit this basic form. All applicants are required to do an interview with a higher ranking Magic Revolution staff member.</p>
        </div>
        <div class="card-action">
            <a href="/apply/mr" class="btn light-blue darken-3">Apply Today!</a>
        </div>
      </div>
    </div>
  </div>

</div>
</template>
