body {
    background: url("/img/bg.jpg");
    background-repeat: repeat;
}
.navbar-default {
    background: rgba(6,6,6,0.8);
    border: 0px solid black;
}
.top_bar {
    background: #00A8FF;
    height: 5px;
    width: 100%;
}
textarea {
    background: rgba(255,255,255,0.2) !important;
    color: #fafafa !important;
}
input {
    background: rgba(255,255,255,0.2) !important;
    color: #fafafa !important;
}
select {
    background: rgba(255,255,255,0.2) !important;
    color: #fafafa !important;
}